@model List<SalesforceIntegrationApp.Models.LeadAndContactWithOpenTask>


<h2>Lead with Open Tasks</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Label</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Label</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

