<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Subject</th>
            <th>Status</th>
            <th>WhatId</th>
            <th>WhoId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record["Subject"]</td>
                <td>@record["Status"]</td>
                <td>@record["WhatId"]</td>
                <td>@record["WhoId"]</td>
            </tr>
        }
    </tbody>
</table>
